:root{
    --color-primary: #3399ff;
    --secondary: #007fff;
    --grey: #6b7a90;
    --dark-blue: #003a75;
    --background: #101418;
    --background2: #1d2b3a;
}

.container{
    border-radius: 0;
}
.container__login{
    display: flex;
    width: 700px;
    height: 500px;
}

.login__information{
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    width: 45%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  
    
    
}
.login__forgotpassword{
    color: #fff;
}
.login__texts{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.login__texts h2{
    margin-bottom: 20px;
}
.login__texts input{
    background: var(--background2);
    color: #fff;
    border: 1px solid var(--color-primary);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.container__formlogin{
    background-color: var(--background2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}
.login__noaccount{
    color: #fff;
}
.container__formlogin__item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 300px;
    height: 30px;
}


.container__formlogin h2{
    
   margin-bottom: 20px;

}

.container__formlogin__item input{
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0 10px;
    margin-left: 5px;
}

.button__login{
    background: transparent;
    color: #fff;
    border: 1px solid var(--color-primary);
    padding: 10px;
    border-radius: 20px;
}

.login__forgotpassword{
    font-size: 1rem;
    margin: 20px 0;
}
.login__noaccount{
    font-size: 1rem;
    margin: 20px 0;
}