:root{
    --color-primary: #3399ff;
    --secondary: #007fff;
    --grey: #6b7a90;
    --dark-blue: #003a75;
    --background: #101418;
    --celeste-agua: #00dfc4;
    --background2: #1d2b3a;

}

.pedido__date-selector{
    background-color: var(--background2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    color: #fff;
    width: 100%;
}
.pedido__date-selector button{
    background-color: var(--secondary);
    outline: none;
    border: 1px solid var(--secondary);
    border-radius: 30px;
    padding: 5px 10px;
    color: #fff;
}
.pedido__date-selector__item{
    display: flex;
    align-items: center;
    gap: 15px;
}
.pedido__date-selector__item__date{
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--color-primary);
    color: #fff;
    font-size: 1rem;
}
.order__state{
    display: flex;
    gap: 1rem;   
    background-color: var(--dark-blue);
    width: 100%;
}
.order__state__item{
    display: flex;
    gap: 1rem;
    color: #fff;
   align-items: center;
   width: 50%;
   justify-content: center;
   padding: 5px;
  
}

.table-container{
    width: 600px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background2);
  
    
}
.proveedor{
    background-color: var(--background2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    
}

.proveedor__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.proveedor__item p{
    font-size: 1.7rem;
    color: #fff;
}
.proveedor button{
    background-color: var( --color-primary);
    height: 30px;
    border-radius: 10px;
    width: 90px;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    color: #fff;
}
.container{
    background-color: var(--background);
    border-radius: 10px;
}

.table{
    color: #fff;

}
.table__header{
    width: 100px;
    height: 50px;
}
.table__row{
    
   
    text-align: center;
    background-color: var(--dark-blue);
    border: 3px solid #fff;
}
.table__cell{
    width: 100px;
    height: 50px;
}
.table__action--edit{
    color: var(--celeste-agua);
    margin-right: 10px;
}
.table__action--delete{
    color: var(--celeste-agua);
}

.actions{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.actions__button{
    padding:  10px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: var( --color-primary);
    border: 1px solid var(--color-primary);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;

}