.container{
    display: flex;
}

.main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #1d2b3a;
    color: #F99417;
    height: 100vh;
    transition: all 0.5s;

}

/* Estilo cuando isOpen es verdadero */
.sidebar-expanded {
    width: 250px;
  }
  
  /* Estilo cuando isOpen es falso */
  .sidebar-collapsed {
    width: 60px;
  }
.top-section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    color: #fff;
}

.top-section__active{
    justify-content: space-between ;
}

.logo{
    font-size: 30px;
    margin-right: 50px;

}

.logo-active {
    display: block;
  }
  
  /* Estilo cuando el elemento no está activo (display: none) */
.logo-inactive {
    display: none;
 }
.bars{
    display: flex;
   
    font-size: 25px;

}

.link {
    display: flex;
   
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  
  }
  
.link:hover {
    background: #4A90E2;
    color: #fff;
    transition: all 0.5s;
}

.active{
    background: lightblue;
    color: #000;
}
.icon{
  display: flex;
 
    
}
.icon, .link_text{
    font-size: 30px;
    
}


.link_text-active{
    display: none;
}
.link_text-inactive{
    display: block;
}


  
  

